* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-circle-color: #d3d3d3;
  --white-color: #fff;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  position: relative;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.carousel-image {
  width: 500px;
  height: 500px;
  display: none;
  object-fit: cover;
}

.carousel-image.visible {
  display: block;
}

.nav-circle-container {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 0.75rem;
}

.nav-circle {
  list-style-type: none;
}

.nav-circle-btn {
  background: none;
  border: 3px solid var(--nav-circle-color);
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
}

.nav-circle-btn:hover {
  background-color: var(--white-color);
}
